[Desktop Entry]
Type=Application
Name=Mobile Games
Comment=Schach, Schiffe versenken, Vier in einer Reihe, Würfelkönig, Darts, Billard und mehr
Exec=/opt/mobile-games/mobile_games
Icon=mobile-games
Terminal=false
Categories=Game;BoardGame;
StartupWMClass=de.sommer.mobile_games
